html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #0C0604;
}

html {
  margin: 0 auto;
  max-width: 1000px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */

body {
  font: normal normal 400;
  font-size: 14pt;
  line-height: 1.3em;
  /*also written as...  font: normal normal 400 100%/1.5em;*/
  /* font-family: Verdana,sans-serif; */
  font-family: Latin Modern Roman, Latin Modern Math, serif;
  /*margin-top: 1em;
  margin-left: 1em;*/
}

p {
  position: relative;
  left: 25%;
  margin-bottom: 0.3em;
  margin-right: 0;
  width: 75%;
  text-align: justify;
  text-justify: inter-word;
}

code {
  /* font: normal normal; */
  font-weight: lighter;
  letter-spacing: 0px;
  font-size: 100%;
  /*line-height: 1em;*/
}

p code {
  position: absolute;
  left: -12%;
}

/* copied from code */
h4 {
  /* font: normal normal; */
  top: 1px;
  /* font-weight: lighter; */
  font-weight: bold;
  letter-spacing: 0px;
  /* font-size: 90%; */
  /* line-height: calc(1.3em / 0.9); */
  /* color: #999; */
  position: relative;
  width: 20%;
  left: 80%;
  height: 0px;
  text-align: right;
}

ul {
  position: relative;
  left: 28%;
  width: 65%;
  margin-bottom: 1em;
  /*margin-top: -0.5em;*/
}

/*uncomment to get dashes in the list*/
/*li:before {
  content: "-";
  position: relative;
  left: -0.25em;
}*/

li {
  /*second line indent*/
  padding-left: 1.25em;
  text-indent: -1.25em;
  /*color: #777;*/
}

li ul {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 0.25em;
}

/* h1,h2,h3,h4 { */
h1,
h2,
h3 {
  font-variant-caps: small-caps;
  font-weight: 500;
}

h1 {
  width: 80%;
  text-align: left;
  font-size: 2em;
  line-height: 1em;
  position: relative;
  left: 0%;
  margin-top: 2em;
}

/* TODO h3 fixes when after a paragraph */

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

header + hr {
  margin-top: 0.2em;
}

/* unused with the hr */
h1 + p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
}

h2 {
  font-size: 1.1em;
  /* color: #800; */
  /* color: #221d1a; */
  color: #482009;
  margin-top: 1.5em;
  position: relative;
  /* top: 1.2em; */
  text-align: left;
  /* text-align: right; */
  width: 20%;

  top: 0em;
  height: 0px;
}

h3 {
  font-size: 1em;
  /* color: #653a1a; */
  color: #AD7549;
  position: relative;
  height: 0px;
  text-align: left;
  width: 20%;
}

h2 + h3 {
  margin-top: 1.5em;
}

a {
  color: inherit;
  /* color: #346069; */
  color: #063d7f;
  text-decoration: none;
}

a:visited {
  color: #063d7f;
}

a:hover {
  color: #0e1131;
}

#webaddress {
  margin-top: 1em;
  position: relative;
  left: 28%;
  color: #ccc;
  font-family: Menlo, monospace, sans-serif;
  font-size: 80%;
}

#webaddress a {
  text-decoration: none;
}

em {
  font-style: normal;
  color: #2d4e5e;
}

strong {
  font-weight: bolder;
}

#ghbutton {
  display: none;
  visibility: hidden;
}
